@font-face {
    font-family: 'montsserat';
    src: url(Fonts/Montserrat-SemiBold.ttf);
    font-weight: 100;
    font-style: SemiBold;
}

@font-face {
    font-family: 'montsseratR';
    src: url(Fonts/Montserrat-Regular.ttf);
    font-weight: 100;
    font-style: Regular;
}

@font-face {
    font-family: 'montsseratM';
    src: url(Fonts/Montserrat-Medium.ttf);
    font-weight: 100;
    font-style: Regular;
}

@font-face {
    font-family: 'Start';
    src: url(Fonts/PressStart2P-Regular.ttf);
    font-weight: 100;
    font-style: Regular;
}

@font-face {
    font-family: 'H';
    src: url(Fonts/hemiheadbdit.ttf);
    font-weight: 100;
    font-style: Regular;
}

@font-face {
    font-family: 'VCR';
    src: url(Fonts/VCR_OSD_MONO_1.001 copy.ttf);
    font-weight: 100;
    font-style: Regular;
}



@font-face {
  font-family: "supply";
  src: url(Fonts/Supply-UltraLight.woff2);
}

@font-face {
  font-family: "SR";
  src: url(Fonts/Supply-Regular.otf);
}

@font-face {
  font-family: "SRW";
  src: url(Fonts/Supply-Regular.woff2);
}

@font-face {
  font-family: "SM";
  src: url(Fonts/Supply-Medium.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
      font-family: "SR";
}

html {
    scroll-behavior: smooth;
}

body {

  background: #de6161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   padding: 0;
   margin: 0;
   height: 100vh;
   width: 100vw;
   overscroll-behavior: none;
cursor: url(Cursors/3.png), auto;


}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    position: absolute;
    z-index: 20000;
}

.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid black;
    border-top-color: hotpink;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  font-family: "SU";
  /* background-color: red; */
}


 
img {
  width: 100%;
 
   cursor: url(Cursors/3.png), auto;
}


.navigation {
    padding: 25px 0px;
    font-size: 1.3vw;
    text-transform: uppercase;
    padding-top: 30px;


}
.navigation a {
    margin-right: 5px;
    text-decoration: none;
    border: 2px solid #ccc;
    padding: 10px 15px;
    color: white;

}

/*
.navigation {
width: 100%;
margin: 50px auto;
padding: 25px auto;
}

.navigation a {
    margin-right: 5px;
    color: white;
   margin: 20px 0;
       text-decoration: none;
    border: 2px solid #ccc;
        padding: 10px 35px;

}

*/

.navigation a.active {
    background-color: hotpink;
    color: white;
}

.masonry {
  column-count: 3;
  column-gap: 0px;
    -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
   animation-delay: 0s;
   margin-top: 1.5%;
  margin-left: 1%;

}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 4px;
  width: 98%;
    

}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
     
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
    
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
      z-index: -1;
      margin-top: -1.5%;
  }
}

/*These are the captions for the images*/

a {
  position: relative;
}

a span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0,0,0,0.7);
  color: white;

  justify-content: center;
  align-items: center;
}

a:hover span {
  display: block
}


/*This is the nav bar*/

nav {
    color: white;
    display: flex;
    justify-content: space-between;

}

nav .mainMenu {
    display: flex;
    list-style: none;
        font-family: "SR";
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size:  1.5vw;
}

nav ul li a:hover {
    color: white;
    z-index: 10000;
      font-family: "SR";
}

nav ul ul {
    position: absolute;
    top: 40px;
    display: none;
    z-index: 10000;
left: 0%;
}

nav ul li:hover > ul {
    display: block;
    z-index: 10000;
    animation: none;
}



nav ul ul li {
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
    z-index: 10000;
      white-space: nowrap;
}

nav ul ul ul li {
    position: relative;
    margin-top: -60px;
    left: 100%;
    z-index: 10000;
    white-space: nowrap;
}

a.active {
    opacity: 1;
}

 ul li a:nth-of-type(1) {
     
     opacity: 0.5;
   

}

 ul li a.active:nth-of-type(1) {
   color: #fff;
   opacity: 1;

   cursor: url(Cursors/3.png), auto;

}
 ul li a:hover:nth-of-type(1) {
    color: #fff;
    opacity: 1;
 
    position: sticky;
    border: none;
    box-shadow: none;
    transition-delay: 0s;

 
    cursor: url(Cursors/3.png), auto;
}

 a:nth-of-type(2) {
z-index: 10000;

}


nav ul li {
    background: transparent;
    position: relative;
    list-style: none;
    display: inline-block;
    z-index: 10000;
  font-family: "SU";

}

nav .openMenu {
    font-size: 1.9vw;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 1.9vw;
    display: none;
    cursor: pointer;
}

nav .logo {

    font-size: 1.7vw;
    cursor: pointer;
      letter-spacing: 0.2rem;
      margin-left: 2%;
      margin-top: 0.8%;
      padding-top: 10px;
}

.mainMenu {

    margin-top: 1%;
}

/* Iphone 12 pro */
@media only screen and (max-width: 414px)  {


    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    
    }


   

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }



    nav .openMenu {
        display: block;
    }

    i {
        display: inline-block;
        padding: 12px;
        
        margin-top: -40%;
        left: ;
    }



.closeMenu {
    position: absolute;
    margin-top: -538px;
    left: 131px;
}

 nav .logo {
    margin: 6px;
    font-size: 3.8vw;
    cursor: pointer;
      letter-spacing: 0.2rem;
      margin-left: 4%;
      margin-top: 0.5%;

}

nav a {
    font-size: 3vw;
}


nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size:  5vw;
}

nav ul ul ul li {
    position: relative;
    margin-top: -60px;
    left: 150%;
    z-index: 10000;

   }
   nav ul ul li {
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
    z-index: 10000;
    white-space: normal;
    margin-left: 90%;
    margin-top: -30%;
  
}
.masonry .mItem {
  display: inline-block;
  margin-bottom: 4px;
  width: 98%;
  z-index: -1;
}

img {
    z-index: 10000;
}
}


@media screen and (max-width: 829px) {
    .navigation a {
        width: 100%;
     margin-top: 10px;
        display: block;
    }
    body {
  width: 100px;
}
}


/* Iphone SE */
@media only screen and (max-width: 375px)  {


    .closeMenu {
    position: absolute;
    margin-top: -485px;
    left: 110px;
}
}

/* Iphone 4 */
@media only screen and (max-width: 320px)  {


    .closeMenu {
    position: absolute;
    margin-top: -385px;
    margin-left: 5px;
}
}


/* Iphone 678 plus */
@media only screen and (max-width: 414px)  {

        .closeMenu {
    position: absolute;
    margin-top: -520px;
    margin-left: 20px;
}
}

/* Iphone 678 */
@media only screen and (max-width: 375px)  {

        .closeMenu {
    position: absolute;
    margin-top: -480px;
    margin-left: 20px;
}
}

/* Iphone 5 */
@media only screen and (max-width: 320px)  {

        .closeMenu {
    position: absolute;
    margin-top: -430px;
    margin-left: 0px;
}
}